:root{
    --text-header-color:#edede9;
    --background-color: #f8f9fa;
    --primary-color: #003049;
    --secondary-color: #d62828;
    --accent-color: #f77f00;
    --text-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

.header{
    width: 100%;
    height: 5rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky    ;
}

.flex-sty-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.flex-sty-head a, .flex-sty-head h1{
    text-decoration: none;
    color: var(--text-header-color);
    font-size: 1.5rem;
}

.container{
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
}

#name {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.personal-inf{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.personal-inf h2{
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.personal-inf p a {
    color: var(--accent-color);
    text-decoration: none;
}

.personal-inf p a:hover {
    text-decoration: underline;
}

.second-inf, .third-inf {
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: #fff;
    border-left: 5px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-inf {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.text-styles-left, .text-styles-rig {
    margin: 0 2rem;
}

.right-inf {
    font-size: 1rem;
    color: var(--text-color);
    text-align: justify;
}

.skils-inf {
    display: flex;
    justify-content: space-between;
}

.skils-inf ul {
    list-style: none;
}

.skils-inf li {
    background-color: var(--accent-color);
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
